@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="LoginSubmit">

    <label for="emailId">Email</label>
    <input name="email" type="email" id="emailId" />

    <label for="passwordId" >Password</label>
    <input name="password" type="password" id="passwordId"/>

    <input type="submit" value="Submit"/>

</form>



