
@{
    ViewBag.Title = "Total";
}

<h2>Total</h2>

<h2>Number of Users</h2>
<h2>@ViewBag.user</h2>


<h2>Number of Admins</h2>
<h2>@ViewBag.admin</h2>


<h2>Number of Tech</h2>
<h2>@ViewBag.tech</h2>


<h2>Tota Profit</h2>
<h2>@ViewBag.sum</h2>

